

.v-card {
  border: 3px solid #0d1821;
}

.v-text-field {
  border: 3px solid #0d1821;
  border-radius: 6px;
}

.v-chip {
  border: 2px solid #0d1821 !important;
}

.v-navigation-drawer {
  border: 3px solid #0d1821 !important;
}

.v-footer {
  border: 3px solid #0d1821 !important;
}

.v-btn:not(.v-number-input button) {
  border: 3px solid #0d1821 !important;
}

.custom-select-menu {
  background-color: black;
  color: white;
}

.v-overlay__content .v-list {
  background-color: #f0f4ef !important;
  border: 3px solid #0d1821 !important;
}

.v-list .v-list-item--active {
  background-color: #ff6f59 !important;
  color: white !important;
}

.v-snackbar .v-overlay__content {
  border: 3px solid #0d1821 !important;
}